NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_INSTALLER_URL=https://github.com/youlmacc-oss/sonic-stream/releases/download/windows-test/SonicStream-Windows-7907a90f21c3.zip
NEXT_PUBLIC_TEST_INSTALLER_URL=https://github.com/youlmacc-oss/sonic-stream/releases/download/windows-test/SonicStream-Windows-7907a90f21c3.zip
