NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_INSTALLER_URL=https://github.com/youlmacc-oss/sonic-stream/releases/download/windows-test/SonicStream-Windows-024cf05c6fd8.zip
NEXT_PUBLIC_TEST_INSTALLER_URL=https://github.com/youlmacc-oss/sonic-stream/releases/download/windows-test/SonicStream-Windows-024cf05c6fd8.zip
